<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008189116946-51kk4akf2fp7363bq9luocsdrd20popn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008189116946-51kk4akf2fp7363bq9luocsdrd20popn</string>
	<key>API_KEY</key>
	<string>AIzaSyAp2jGicNWSG5jU7iG2XCVBEDDZqVspD_g</string>
	<key>GCM_SENDER_ID</key>
	<string>1008189116946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victor.veiga.Celula</string>
	<key>PROJECT_ID</key>
	<string>celula-10353</string>
	<key>STORAGE_BUCKET</key>
	<string>celula-10353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008189116946:ios:dcb558a1321baf25c1fecb</string>
	<key>DATABASE_URL</key>
	<string>https://celula-10353.firebaseio.com</string>
</dict>
</plist>